.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #fafafa;
  box-shadow: 2px 4px 15px rgba(95, 16, 16, 0.1);
}

.blog-preview:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
